@page "/"
@inject IHttpContextAccessor Accessor

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app, @Accessor.HttpContext.User.Identity.Name!

<SurveyPrompt Title="How is Blazor working for you?"/>