@page "/favorites"
@using MoviesApp.Services.Interfaces
@using movies_api
@using Radzen.Blazor
@using System.Drawing
@using System.Drawing.Printing
@using Radzen
@inject IMovieService _movieService
@inject IUserService _userService

<MovieHeader Title="Favorites" Header="Your favorite movies"></MovieHeader>

<AuthorizeView>
    <NotAuthorized>
       <RadzenStack AlignItems="AlignItems.Center" Style="margin-top: 100px">
       <RadzenText TextStyle="TextStyle.H4" Style="color: white">Log in to see this content</RadzenText>
       </RadzenStack>
       </NotAuthorized>
    <Authorized>
    @if (shouldRender == false)
    {
        <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status"></div>
        </div>
    }
    else
    {
        if (userId != null && movies.Results.Count == 0)
        {
            <RadzenStack AlignItems="AlignItems.Center" Style="margin-top: 100px">
                <RadzenText TextStyle="TextStyle.H4" Style="color: white">No favorites in your list</RadzenText>
            </RadzenStack>
        }
        <MovieList Movies="@movies.Results" OnFavorite="movie => RemoveFavorite(movie)"></MovieList>
    }
    </Authorized>
</AuthorizeView>
@code
{   
    private MovieListDto movies = new() { Results = new List<MovieDto>()};
    private string? userId;
    private bool shouldRender;
    
    protected override async Task OnInitializedAsync()
    {   
        userId = _userService.GetUserId();
        await GetFavorites();
    }
    
    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        shouldRender = true;
        return base.OnAfterRenderAsync(firstRender);
    }
    
    private async Task RemoveFavorite(MovieDto movie)
    {
        FavoritesDto favorite = new() { MovieId = movie.MovieId, UserId = userId };
        await _movieService.RemoveFavoriteMovieAsync(favorite);
        movies.Results.Remove(movie);
        StateHasChanged();
    }
    
    private async Task GetFavorites()
    {
        shouldRender = false;
        movies.Results.Clear();
        if (userId != null)
        {
            movies = await _movieService.GetFavoriteMovies(userId);
        }
    }
}
