.background{
    background-color: #04080F;
    background-image:url(Images/popcorn.png);
    background-position: center center;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    border: none;
}

.header {
    position: relative;
    min-height: 150px;
    width: 100%;
    margin-bottom: 50px;
}

.header-content {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}